@media (prefers-color-scheme: dark) {
	.login_div {
		background-color: black;
	}
}

@media (prefers-color-scheme: light) {
	.login_div {
		background-color: white;
	}
}

p {
	margin: 0;
}

hr {
	margin: 0;
}

.content_div {
	padding-left: 30%;
	padding-right: 30%;
	height: 86vh;
}

.footer_div {
	bottom: 0;
    position: absolute;
    width: 100%;
}

.login_div {
	border-radius: 25px;
	padding: 24px;
}

.form_div {
	padding: 0 10%;
}

.button {
	margin: 8px 0;
	height: 38px;
	width: 100%;
	border-radius: 4px;
}

.loginField {
	margin: 8px 0;
	width: 100%;
	text-align: center;
	border-radius: 4px;
}