@media (prefers-color-scheme: dark) {
	.seats_div {
		background-color: black;
	}
	.body_div {
		background: #000000;
	}
	.input_div {
		background-color: #000000;
	}
	.ticketItem {
		background-color: black;
	}
	.typeLink {
		border: 1px solid darkblue;
		color: white;
	}
}

@media (prefers-color-scheme: light) {
	.seats_div {
		background-color: white;
	}
	.body_div {
		background: #000000;
	}
	.input_div {
		background-color: #777777;
	}
	.ticketItem {
		background-color: white;
	}
	.typeLink {
		border: 1px solid gray;
		color: black;
	}
}

.body_div {
	padding-top: 1%;
	padding-bottom: 1%;
	height: auto !important;
}

.input_div {
	padding: 16px;
    border-radius: 32px;
}

.ticketItem {
	border-radius: 8px;
	padding: 32px 16px;
	margin: 16px;
}

.timeDiv {
	display: inline-block;
	margin: 0 !important;
}

.typeLink {
	margin-top: -16px;
	padding: 16px;
	border-radius: 8px;
	display: inline-block;
	float: left;
	margin-right: 16px;
    text-decoration: none;
}